.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 69px;
  min-width: 435px;

  &__item {
    margin-bottom: 5px;
  }
}

.menu__link {
  color: $main-text-color;
  transition: color 0.2s linear;

  &:hover {
    color: $main-color;
  }
}