.slider {
  position: relative;
  width: 100%;
  padding: 286px 0 336px 0;
  overflow: hidden;

  &__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../images/5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -1;

  }

  &__title {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 39px;
    font-family: 'AvenirNext';
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    text-transform: uppercase;
    background-color: transparent;
  }

  &__button {
    font-size: 16px;
    line-height: 20px;
  }

  &__pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 26px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__dots {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 3px solid $main-color;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 27px;
    }
    
  }

  &__dots--active {
    width: 25px;
    height: 25px;
    border: 13px solid $main-color;
  
  }

  .slider__arrow {
    position: absolute;
    top: 50%;
    width: 21px;
    height: 40px;
  }

  .slider__arrow--back {
    left: -73px;
    background-image: url(../../images/arrow-back.png);
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider__arrow--next {
    right: -73px;
    background-image: url(../../images/arrow-next.png);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.slider-text {
  position: relative;
}